@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@








@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/@Model.Content.Site().Name">Home</a>
        </li>
        @foreach (var item in selection)
        {

            var isProtected = umbraco.library.IsProtected(item.Id, item.Path);
            var loginAccess = umbraco.library.IsProtected(item.Id, item.Path) && umbraco.library.HasAccess(item.Id, item.Path);
            if (!isProtected || loginAccess)
            {
                var selectionDropDown = item.Children.Where(x => x.IsVisible()).OrderBy(x => x.Name).ToArray();

                if (selectionDropDown.Length > 0)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="download" aria-expanded="false">@item.Name <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="@item.Url">@item.Name</a>
                            <div class="dropdown-divider"></div>
                            @foreach (var item2 in selectionDropDown)
                            {
                                if (item2.GetProperty("projectStatus") != null && item2.GetPropertyValue("projectStatus").ToString() == "27")
                                {
                                    <a class="dropdown-item" href="@item2.Url">@item2.Name</a>
                                }
                                else if (item2.GetProperty("projectStatus") == null)
                                {
                                    <a class="dropdown-item" href="@item2.Url">@item2.Name</a>
                                }

                            }
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@item.Url">@item.Name</a>
                    </li>
                }
            }






        }

    </ul>
}

@*@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web*@


@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the CSS class "current".
*@


@*@{ var selection = Model.Content.Site().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    <ul class="nav navbar-nav">
        <li>
            <a href="/@Model.Content.Site().Name">Home</a>
        </li>
        @foreach (var item in selection)
        {
             var selection2 = item.Children.Where(x => x.IsVisible()).OrderBy(x => x.Name).ToArray();
            if (selection2.Length > 0)
            {
                <li class="dropdown">
                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown">@item.Name</a>
                    <ul class="dropdown-menu">
                        <li><a href="@item.Url">@item.Name</a></li>
                        @foreach (var item2 in selection2)
                        {
                            <li><a href="@item2.Url">@item2.Name</a></li>
                        }
                    </ul>
                </li>
            } else
            {
            <li class="@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)">
                <a href="@item.Url">@item.Name</a>
            </li>
            }

        }
    </ul>
}*@
